<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1">
    <title>React Test</title>
    <link rel="stylesheet" href="/style.min.css">

    <link
      rel="icon"
      type="image/png"
      href="https://react-test.dev/favicon.png"
    />
    <meta
      name="description"
      content="Test your React components easily with React Test"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://react-test.dev/" />
    <meta name="twitter:title" content="React Test" />

    <meta
      name="twitter:description"
      content="Test your React components easily with React Test"
    />
    <meta property="og:title" content="React Test" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://react-test.dev/" />
    <meta
      property="og:image"
      content="http://react-test.dev/hero.jpg"
    />
    <meta
      property="og:description"
      content="Test your React components easily with React Test"
    />
  </head>
  <body>
    <div class="flex">
      <div>
        <aside>
          <div class="wrap">
            {{{toc}}}
          </div>
        </aside>
      </div>
      <div id="docs">
        <main>{{{content}}}</main>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/umbrellajs"></script>
    <script src="/prism.min.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
