<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1">
    <title>React Test</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic">
    <link rel="stylesheet" href="/prism.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="flex">
      <div>
        <aside>
          <h2>Documentation</h2>
          <div>{{{toc}}}</div>
        </aside>
      </div>
      <div>
        <main>{{{content}}}</main>
      </div>
    </div>
    <script src="/prism.min.js" charset="utf-8"></script>
  </body>
</html>
