$picnic-separation: 20px !default;

@import "./prism.scss";
@import "../node_modules/picnic/src/picnic.scss";

body {
  background: #f1f1ff;
  font-size: 18px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}

aside {
  background: #fff;
  position: sticky;
  top: 0;
  padding: 10px;
  flex-grow: 0;
  flex-basis: 280px;
  max-height: 100vh;
  overflow: scroll;
  box-shadow: 2px 2px 8px -8px;
  border-radius: 0 0 8px 8px;
}

aside h2 {
  line-height: 1;
  font-size: 20px;
}

aside a {
  display: block;
  width: 100%;
  padding: 5px 8px;
  line-height: 20px;
  border-radius: 5px;
  color: inherit;
}

aside a:hover {
  background: #eee;
}

.entry {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.entry:first-child {
  margin-top: 0;
}

.entry:last-child {
  margin-bottom: 0;
}

.more {
  flex: 0 0 30px;
  display: block;
  transition: all 0.3s ease;
  font-size: 30px;
  line-height: 24px;
  height: 30px;
  text-align: center;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
  margin-right: 2px;
}

.more::before {
  display: block;
  content: "";
  border: 10px solid #333;
  width: 0;
  height: 0;
  margin: 9px 7px 9px 11px;
  border-width: 6px 0 6px 12px;
  border-color: transparent transparent transparent #333;
}

.more:hover {
  background-color: #eee;
}

.active .more {
  transform: rotateZ(90deg);
}

.secondary {
  padding-left: 40px;
}

aside section {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  margin: 0;
  transition: all 0.2s ease;
}

aside .active + section {
  max-height: 1000px;
  opacity: 1;
  margin: 5px 0;
}

@media (min-width: 900px) {
  aside {
    padding: 20px;
  }
}

main {
  background: white;
  width: 100%;
  max-width: 900px;
  padding: 20px;
  box-shadow: 2px 2px 8px -8px;
  border-radius: 0 0 8px 8px;
}

@media (min-width: 600px) {
  main {
    padding: 30px;
  }
}

@media (min-width: 900px) {
  main {
    padding: 50px;
  }
}

/* For mobile */
#docs {
  max-width: 100%;
  margin-bottom: 300px;
}

pre[class*="language-"] {
  margin: 0 -20px 20px;
  border-radius: 0;
}

@media (min-width: 600px) {
  pre[class*="language-"] {
    margin: 0 -30px 20px;
    border-radius: 0;
  }
}

@media (min-width: 900px) {
  pre[class*="language-"] {
    margin: 0 0 20px;
    border-radius: 0.2em;
  }
}

code {
  font-size: 16px;
  padding: 5px 10px;
}

h1,
h2,
h3,
h4,
p,
pre {
  margin: 0.6em 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 0.6em;
  padding-top: 1em;
}

h1 {
  padding: 0;
  line-height: 1;
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
  padding-top: 1.5em;
  margin-top: 2em;
}

@media (min-width: 900px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }
}

aside h2 {
  padding: 0;
  margin: 0;
}
