$picnic-separation: 20px !default;

@import "./prism.scss";
@import "../node_modules/picnic/src/picnic.scss";

body {
  background: #f1f1ff;
  font-size: 18px;
  box-sizing: border-box;
  max-width: 1100px;
  margin: 0 auto;

  font-family: "Montserrat", sans-serif;
  color: #333;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  color: #333;
}

strong {
  font-weight: 600;
}

code,
code[class*="language-"],
pre[class*="language-"] {
  font-family: "Source Code Pro", serif;
  font-size: 15px;
}

aside {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  background: #fff;
  max-height: 100vh;
  overflow: scroll;
  box-shadow: 2px 2px 8px -8px;
}

@media (min-width: 800px) {
  aside {
    border-radius: 0 0 8px 8px;
  }
}

@media (min-width: 1100px) {
  aside {
    position: sticky;
    top: 0;
  }
  aside .wrap {
    // padding: 20px;
  }
}

aside .wrap {
  padding: 10px;
}

aside h2 {
  line-height: 1;
  font-size: 20px;
  margin: 10px;
  padding: 0;
}

aside a {
  display: block;
  width: 100%;
  padding: 5px 8px;
  line-height: 20px;
  border-radius: 5px;
  color: inherit;
}

aside a:hover {
  background: #eee;
}

.entry {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.entry:first-child {
  margin-top: 0;
}

.entry:last-child {
  margin-bottom: 0;
}

.more {
  flex: 0 0 30px;
  display: block;
  transition: all 0.3s ease;
  font-size: 30px;
  line-height: 24px;
  height: 30px;
  text-align: center;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
  margin-right: 2px;
}

.more::before {
  display: block;
  content: "";
  border: 10px solid #333;
  width: 0;
  height: 0;
  margin: 11px 8px 11px 11px;
  border-width: 4px 0 4px 11px;
  border-color: transparent transparent transparent #333;
}

.more:hover {
  background-color: #eee;
}

.active .more {
  transform: rotateZ(90deg);
}

.secondary {
  padding-left: 40px;
}

aside section {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  margin: 0;
  transition: all 0.2s ease;
}

aside .active + section {
  max-height: 1000px;
  opacity: 1;
  margin: 5px 0;
}

main {
  background: white;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 2px 2px 8px -8px;
  border-radius: 0;
}

@media (min-width: 800px) {
  main {
    padding: 50px;
    border-radius: 8px;
  }
}

@media (min-width: 1100px) {
  main {
    width: 800px;
    border-radius: 0 0 8px 8px;
  }
}

/* For mobile */
#docs {
  max-width: 100%;
  margin-bottom: 300px;
}

code {
  font-size: 16px;
  line-height: 16px;
  padding: 2px 4px;
  background: #f5f2f0;
  border-radius: 4px;
}

h1,
h2,
h3,
h4,
p,
pre {
  margin: 0.6em 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 0.6em;
  padding-top: 1em;
}

h1 {
  padding: 0;
  line-height: 1;
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
  padding-top: 1.5em;
  margin-top: 2em;
}

h4 {
  font-weight: normal;
  margin-bottom: 0;
  border-bottom: 1px solid #eee;
}

@media (min-width: 800px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }
}

pre {
  padding: 0.5em 0.8em;
  font-size: 1em;
  line-height: 1.3;
}

pre[class*="language-"] {
  margin: 0 -20px 20px;
  padding: 10px 20px;
  border-radius: 0;
}

@media (min-width: 800px) {
  pre[class*="language-"] {
    margin: 0 -15px 20px;
    padding: 10px 15px;
    border-radius: 6px;
  }
}
